<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.tentcoo.data.mapper.EmployeeMapper">

    <insert id="save" useGeneratedKeys="true" keyColumn="id">
    insert into employee (name,age) values (#{name},#{age});
  </insert>
    <update id="update">
        update employee set name = #{name},age = #{age} where id=#{id};
    </update>
    <delete id="delete">
    DELETE FROM employee WHERE id=#{empId};
  </delete>
    <select id="get" resultType="com.tentcoo.data.pojo.Employee">
        select id,name,age from employee WHERE id=#{empId};
    </select>

    <select id="listAll" resultType="com.tentcoo.data.pojo.Employee">
        select id,name,age from employee;
    </select>
    <select id="queryForList" resultType="com.tentcoo.data.pojo.Employee">
        SELECT id,name,age FROM employee
        <include refid="baseWhere"/>
        limit #{start} , #{rows};
    </select>
    <select id="queryForCount" resultType="java.lang.Integer">
        SELECT count(id) FROM employee
        <include refid="baseWhere"/>
    </select>
    <select id="getLoginInfoByUserName" resultType="com.tentcoo.data.pojo.Employee">
        SELECT id,name,age,username,password FROM employee WHERE username = #{username}
    </select>
    <sql id="baseWhere">
        <where>
            <if test="age != null and age !=''">
                and age = #{age}
            </if>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
    </sql>

    <sql id="employeeColumns">
        id,name,age,username,password
    </sql>

    <select id="findList" resultType="com.tentcoo.data.pojo.Employee">
        SELECT
        <include refid="employeeColumns"/>
        FROM employee a WHERE 1=1 order by id
    </select>
    <select id="getEmpByRoleId" resultType="com.tentcoo.data.pojo.Employee">
        select e.id,e.name,e.age
         from employee e
          JOIN sys_role_employee re ON e.id = re.employee_id
        WHERE re.role_id =#{rid}
    </select>
    <!--根据用户id查询出对应的权限-->
    <select id="getPermissionByEmpId" resultType="java.lang.String">
        SELECT menu.permission
          FROM systemmenu menu
          JOIN sys_role_menu rm ON rm.menu_id = menu.id
          JOIN sys_role_employee re ON re.role_id = rm.role_id
        WHERE re.employee_id = #{employeeId}
    </select>

    <insert id="insert" parameterType="com.tentcoo.data.pojo.Employee">
        insert into employee (id,name,age) values (#{id},#{name},#{age});
    </insert>

</mapper>